<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {{>navbar}}
     <form action="/login" method="POST">
      <h1 class="text-center my-5">Sign in</h1>
        <div class="container " style="margin: 0 23rem;">
            
  <div class="row mb-4">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" name="email">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="inputPassword3" name="password" autocomplete="on">
    </div>
  </div>
  <p style="margin: 0 14rem; ">Not an Account? <a href="/register">Sign Up</a></p>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>
</body>
</html>